body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.A {
  color: #DA0463;
}
.B {
  color: blue;
}
.C {
  color: yellow ;
}
.D {
  color: green;
}
.E {
  color: orange;
}
.F {
  color: purple;
}
.G {
  color: lightgreen;
}
.H {
  color: orangered;
}
.I {
  color: darkblue;
}
.J {
  color: palevioletred;
}
.K {
  color: darkorange;
}
.L {
  color: turquoise;
}
  .M {
    color: red;
  }
  .N {
    color: darkorchid;
  }
  .O {
    color: greenyellow;
  }
  .P {
    color: brown;
  }
  .Q {
    color: olive;
  }
  .R {
    color: rosybrown;
  }
  .S {
    color: salmon;
  }
  .T {
    color: teal;
  }
  .U {
    color: wheat;
  }
  .V {
    color: maroon;
  }         
  .W {
    color: palegoldenrod;
  }
  .X {
    color: plum;
  }
  .Y {
    color: midnightblue;
  }
  .Z {
    color: forestgreen;
  }                                                                                                   
 

.set {
  margin: 0 5% 5% 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

#alphabet {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}

.Phenome {
  border: 10px solid #404B69;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #404B69;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
